// styles.scss

// Define colors
$sidebar-bg-color: #212121;
$text-color: #fff;

// Sidebar styles
.sidebar {
  background-color:rgb(42, 42, 97);
  color: $text-color;
  width: 250px;
  height: 100vh;

}

.sidebar-item {
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($sidebar-bg-color, 10%);
  }
}
